<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<title>QUIZ!!!</title>
</head>
<body bgcolor="#ECF0F1">
    <div class="block1">   
        <div class="logo"><img src="mega_logo.png" class="logo-image" alt="" /></div>
        <div class="title">
          <h3 class="HOME"><a href="/">HOME</a></h3>
        </div>
        </div>
    <!-- <div style="Text-align:right;">
  <div class="logo"><img src="mega_logo.png" class="logo-image" alt="" /></div>
           <div style="width:90%;float:left;">
           <strong>HOME</strong></div>
           <div style="Width:10%;float:right">
           <strong>TEAM</strong></div> -->
</div> 

<div class="block2"> 
  <h1><strong>QUIZ-O-MANIA</strong></h1>
</div>
<ul>
  <li><div class="block3"><strong><a href="/health">How healthy is your lifestyle?</a></strong></div></li>
  <li><div class="block3"><strong><a href="/avenger">Which Avenger do you associate with the most?</a></strong></div></li>
</ul>
</div>

</body>
</html> 
